@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/eue2tfn.css");
@import url("https://use.typekit.net/eue2tfn.css");

@layer base {
  .noisy::before {
    content: "";
    position: fixed;
    left: -10rem;
    z-index: -9;
    top: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    background-color: #1E1E1E;
    /* background-color: red; */
    background-image: url(img/noise.png);
    opacity: 0.05;
    pointer-events: none;
    /* animation: noise 1s steps(2) infinite; */
  }

  #empty {
    content:" ";
    height: 5px;
    width: 40px;
    background-color: #F9F9F9;
  }

  /* @-webkit-keyframes noise {
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  } */

  /* @keyframes noise {
    0% {
      transform: translate3d(0, 9rem, 0);
    }

    10% {
      transform: translate3d(-1rem, -4rem, 0);
    }

    20% {
      transform: translate3d(-8rem, 2rem, 0);
    }

    30% {
      transform: translate3d(9rem, -9rem, 0);
    }

    40% {
      transform: translate3d(-2rem, 7rem, 0);
    }

    50% {
      transform: translate3d(-9rem, -4rem, 0);
    }

    60% {
      transform: translate3d(2rem, 6rem, 0);
    }

    70% {
      transform: translate3d(7rem, -8rem, 0);
    }

    80% {
      transform: translate3d(-9rem, 1rem, 0);
    }

    90% {
      transform: translate3d(6rem, -5rem, 0);
    }

    to {
      transform: translate3d(-7rem, 0, 0);
    }
  } */

 
 .rangething {
    box-sizing: border-box;
    appearance: none;
    width: 250px;
    margin: 0;
    padding: 0 2px;
    /* Add some L/R padding to ensure box shadow of handle is shown */
    overflow: hidden;
    border: 0;
    border-radius: 1px;
    outline: none;
    background: linear-gradient(grey, grey) no-repeat center;
    /* Use a linear gradient to generate only the 2px height background */
    background-size: 100% 2px;
    pointer-events: none;
 }
 
    .rangething:active,
    .rangething:focus {
       outline: none;
    }
 
    .rangething::-webkit-slider-thumb {
       height: 28px;
       width: 28px;
       border-radius: 28px;
       background-color: #fff;
       position: relative;
       margin: 5px 0;
       /* Add some margin to ensure box shadow is shown */
       cursor: pointer;
       appearance: none;
       pointer-events: all;
       box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
    }
       .rangething::before {
             content: ' ';
             display: block;
             position: absolute;
             top: 13px;
             left: 100%;
             width: 2000px;
             height: 2px;
       }
    }
 
 
 .multi-range {
    position: relative;
    height: 50px;
    
 }
 
    .rangething {
       position: absolute;
       
    }
       
     
 
    

  
  .link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    color: #f9f9f9;
  }
  .link::before,
  .link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
  }

  .link::before {
    content: "";
    /* show by default */
  }

  .link::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(
      0% 0%,
      0% 100%,
      0 100%,
      0 0,
      100% 0,
      100% 100%,
      0 100%,
      0 100%,
      100% 100%,
      100% 0%
    );
    color: #f9f9f9;
  }

  .link:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(
      0% 0%,
      0% 100%,
      50% 100%,
      50% 0,
      50% 0,
      50% 100%,
      50% 100%,
      0 100%,
      100% 100%,
      100% 0%
    );
    color: #f9f9f9;
  }

  .link span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    color: #f9f9f9;
  }

  .link:hover span {
    transform: translate3d(0, -2px, 0);
    color: #f9f9f9;
  }

/* @layer base { */
/* :root { */
/* colors */
/* --color-black: #1E1E1E;
    --color-soft-white: #F9F9F9;
    --color-dark-gray: #4F4F4F;
    --color-gray: #747474;
    --color-light-gray: #999999;
    --color-accent-1: #D5ABFF;
    --color-accent-2: #4EB364; */

/* font-family */
/* --font-family-display: dimensions, sans-serif;
    --font-family-aktiv-grotesk: aktiv-grotesk, sans-serif;
    --font-family-aktiv-grotesk-thin: aktiv-grotesk-thin, sans-serif;
    --font-family-aktiv-grotesk-condensed: aktiv-grotesk-condensed, sans-serif;
    --font-family-aktiv-grotesk-ex: 'aktiv-grotesk-extended', sans-serif; */

/* font-size */
/* --font-size-display: 186.3px;
    --font-size-mega: 61px;
    --font-size-xxxl: 48.83px;
    --font-size-xxl: 39.06px;
    --font-size-xl: 31.25px;
    --font-size-lg: 25px;
    --font-size-md: 20px;
    --font-size-base: 16px;
    --font-size-sm: 12.8px;
    --font-size-xs: 10.24px;
    --font-size-xxs: 8.19px; */

/* font-weight */
/* --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-xbold: 800;
    --font-weight-black: 900; */

/* text transform */
/* --text-uppercase: uppercase; */

/* line-height */
/* --line-height-body: 20.48px; */

/* spacing gap */
/* --spacing-gap-65: 65px;
    --spacing-gap-55: 55px;
    --spacing-gap-45: 45px;
    --spacing-gap-25: 25px;
    --spacing-gap-15: 15px;
    --spacing-gap-10: 10px;
    --spacing-gap-5: 5px;
    --spacing-gap-0: 0px; */

/* spacing margin */
/* --spacing-margin-120: 120px;
    --spacing-margin-110: 110px;
    --spacing-margin-100: 100px;
    --spacing-margin-60: 60px;
    --spacing-margin-55: 55px;
    --spacing-margin-50: 50px;
    --spacing-margin-45: 45px;
    --spacing-margin-40: 40px;
    --spacing-margin-35: 35px;
    --spacing-margin-30: 30px;
    --spacing-margin-25: 25px;
    --spacing-margin-20: 20px;
    --spacing-margin-15: 15px;
    --spacing-margin-10: 10px;
    --spacing-margin-8: 8px;
    --spacing-margin-5: 5px;
    --spacing-margin-0: 0px; */

/* spacing padding */
/* --spacing-padding-120: 120px;
    --spacing-padding-110: 110px;
    --spacing-padding-100: 100px;
    --spacing-padding-60: 60px;
    --spacing-padding-55: 55px;
    --spacing-padding-50: 50px;
    --spacing-padding-45: 45px;
    --spacing-padding-40: 40px;
    --spacing-padding-35: 35px;
    --spacing-padding-30: 30px;
    --spacing-padding-25: 25px;
    --spacing-padding-20: 20px;
    --spacing-padding-15: 15px;
    --spacing-padding-10: 10px;
    --spacing-padding-8: 8px;
    --spacing-padding-0: 0px; */

/* border */
/* --border-1: solid 1px var(--color-soft-white);
    --border-2: solid 2px var(--color-soft-white);
    --border-3: solid 3px var(--color-soft-white);
    --border-5: solid 5px var(--color-soft-white); */

/* z-index */
/* --z-index-level-4: 15;
        --z-index-level-3: 10;
        --z-index-level-2: 5;
        --z-index-level-1: 0;
        --z-index-level-negative: -5; */

/* } */

/* Desktop alias' */
/* .desktop-display {
        font-family: --font-family-display;
        font-size: var(--font-size-display);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
      }

      .desktop-section-header {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-black);
        text-transform: uppercase;
      }

      .desktop-subheader {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-black);
        text-transform: uppercase;
        color: var(--color-soft-white);
      }

      .desktop-header-tc-faq {
        font-family: --font-family-aktiv-grotesk-ex;
        font-size: --font-size-md;
        font-weight: --font-weight-bold;
        text-transform: uppercase;
        color: --color-soft-white;
      }

      .desktop-programside-search-overskrift {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-soft-white);
      }

      .desktop-footer-header {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-soft-white);
      }

      .desktop-body {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-regular);
        color: var(--color-soft-white);
      }

      .desktop-navigation {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        text-transform: uppercase;
        color: var(--color-soft-white);
      }
      
      .desktop-placeholdertext {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xxs);
        font-weight: var(--font-weight-regular);
        text-transform: uppercase;
        color: var(--color-light-gray);
      }


      /* mobile */
/* .mobile-display {
        font-family: var(--font-family-display);
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-light-gray);
      }

      .mobile-lineup-navne {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-black);
        text-transform: uppercase;
        color: var(--color-light-gray);
      }
      
      .mobile-section-header {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-light-gray);
      }

      .mobile-footer-header {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-light-gray);
      }

      .mobile-subheader-semibold {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-light-gray);
      }

      .mobile-body {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        color: var(--color-light-gray);
      }

      .mobile-footer {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        text-transform: uppercase;
        color: var(--color-light-gray);
      }

      .mobile-search-overskrift {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xxs);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        
      } */

/* knapper */
/* .knap-xxxl {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        border: var(--border-3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .knap-xxl {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        border: var(--border-3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .knap-xl {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        border: var(--border-3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .knap-lg {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        border: var(--border-3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .knap-md {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        border: var(--border-3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .knap-base {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        border: var(--border-3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .knap-sm {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xxs);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        border: var(--border-3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .knap-alternativ {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xxs);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        text-decoration: underline;
        color: var(--color-light-gray);
      }


    */

/* } */

