@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/eue2tfn.css");
@import url("https://use.typekit.net/eue2tfn.css");


/* @layer base { */
/* :root { */
    /* colors */
    /* --color-black: #1E1E1E;
    --color-soft-white: #F9F9F9;
    --color-dark-gray: #4F4F4F;
    --color-gray: #747474;
    --color-light-gray: #999999;
    --color-accent-1: #D5ABFF;
    --color-accent-2: #4EB364; */

    /* font-family */
    /* --font-family-display: dimensions, sans-serif;
    --font-family-aktiv-grotesk: aktiv-grotesk, sans-serif;
    --font-family-aktiv-grotesk-thin: aktiv-grotesk-thin, sans-serif;
    --font-family-aktiv-grotesk-condensed: aktiv-grotesk-condensed, sans-serif;
    --font-family-aktiv-grotesk-ex: 'aktiv-grotesk-extended', sans-serif; */

    /* font-size */
    /* --font-size-display: 186.3px;
    --font-size-mega: 61px;
    --font-size-xxxl: 48.83px;
    --font-size-xxl: 39.06px;
    --font-size-xl: 31.25px;
    --font-size-lg: 25px;
    --font-size-md: 20px;
    --font-size-base: 16px;
    --font-size-sm: 12.8px;
    --font-size-xs: 10.24px;
    --font-size-xxs: 8.19px; */

    /* font-weight */
    /* --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-xbold: 800;
    --font-weight-black: 900; */

    /* text transform */
    /* --text-uppercase: uppercase; */
    
    /* line-height */
    /* --line-height-body: 20.48px; */

    /* spacing gap */
    /* --spacing-gap-65: 65px;
    --spacing-gap-55: 55px;
    --spacing-gap-45: 45px;
    --spacing-gap-25: 25px;
    --spacing-gap-15: 15px;
    --spacing-gap-10: 10px;
    --spacing-gap-5: 5px;
    --spacing-gap-0: 0px; */

        /* spacing margin */
    /* --spacing-margin-120: 120px;
    --spacing-margin-110: 110px;
    --spacing-margin-100: 100px;
    --spacing-margin-60: 60px;
    --spacing-margin-55: 55px;
    --spacing-margin-50: 50px;
    --spacing-margin-45: 45px;
    --spacing-margin-40: 40px;
    --spacing-margin-35: 35px;
    --spacing-margin-30: 30px;
    --spacing-margin-25: 25px;
    --spacing-margin-20: 20px;
    --spacing-margin-15: 15px;
    --spacing-margin-10: 10px;
    --spacing-margin-8: 8px;
    --spacing-margin-5: 5px;
    --spacing-margin-0: 0px; */

    /* spacing padding */
    /* --spacing-padding-120: 120px;
    --spacing-padding-110: 110px;
    --spacing-padding-100: 100px;
    --spacing-padding-60: 60px;
    --spacing-padding-55: 55px;
    --spacing-padding-50: 50px;
    --spacing-padding-45: 45px;
    --spacing-padding-40: 40px;
    --spacing-padding-35: 35px;
    --spacing-padding-30: 30px;
    --spacing-padding-25: 25px;
    --spacing-padding-20: 20px;
    --spacing-padding-15: 15px;
    --spacing-padding-10: 10px;
    --spacing-padding-8: 8px;
    --spacing-padding-0: 0px; */

    /* border */
    /* --border-1: solid 1px var(--color-soft-white);
    --border-2: solid 2px var(--color-soft-white);
    --border-3: solid 3px var(--color-soft-white);
    --border-5: solid 5px var(--color-soft-white); */

/* z-index */
        /* --z-index-level-4: 15;
        --z-index-level-3: 10;
        --z-index-level-2: 5;
        --z-index-level-1: 0;
        --z-index-level-negative: -5; */

    /* } */

    

    /* Desktop alias' */
    /* .desktop-display {
        font-family: --font-family-display;
        font-size: var(--font-size-display);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
      }

      .desktop-section-header {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-black);
        text-transform: uppercase;
      }

      .desktop-subheader {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-black);
        text-transform: uppercase;
        color: var(--color-soft-white);
      }

      .desktop-header-tc-faq {
        font-family: --font-family-aktiv-grotesk-ex;
        font-size: --font-size-md;
        font-weight: --font-weight-bold;
        text-transform: uppercase;
        color: --color-soft-white;
      }

      .desktop-programside-search-overskrift {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-soft-white);
      }

      .desktop-footer-header {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-soft-white);
      }

      .desktop-body {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-regular);
        color: var(--color-soft-white);
      }

      .desktop-navigation {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        text-transform: uppercase;
        color: var(--color-soft-white);
      }
      
      .desktop-placeholdertext {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xxs);
        font-weight: var(--font-weight-regular);
        text-transform: uppercase;
        color: var(--color-light-gray);
      }


      /* mobile */
      /* .mobile-display {
        font-family: var(--font-family-display);
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-light-gray);
      }

      .mobile-lineup-navne {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-black);
        text-transform: uppercase;
        color: var(--color-light-gray);
      }
      
      .mobile-section-header {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-light-gray);
      }

      .mobile-footer-header {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-light-gray);
      }

      .mobile-subheader-semibold {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-light-gray);
      }

      .mobile-body {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        color: var(--color-light-gray);
      }

      .mobile-footer {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        text-transform: uppercase;
        color: var(--color-light-gray);
      }

      .mobile-search-overskrift {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xxs);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        
      } */

      /* knapper */
      /* .knap-xxxl {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        border: var(--border-3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .knap-xxl {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        border: var(--border-3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .knap-xl {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        border: var(--border-3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .knap-lg {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        border: var(--border-3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .knap-md {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        border: var(--border-3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .knap-base {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        border: var(--border-3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .knap-sm {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xxs);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        color: var(--color-light-gray);
        border: var(--border-3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .knap-alternativ {
        font-family: var(--font-family-aktiv-grotesk-ex);
        font-size: var(--font-size-xxs);
        font-weight: var(--font-weight-xbold);
        text-transform: uppercase;
        text-decoration: underline;
        color: var(--color-light-gray);
      }


    */
        
    /* } */

    /*Animations*/
  